[user]
	name = Halil ibrahim Onay
	email = hionay@gmail.com
	signingkey = 5E6CCC7B05577D07
[core]
	editor = nvim
[init]
	defaultBranch = main
[color]
	ui = auto
[blame]
	coloring = highlightRecent
[rerere]
	enabled = true
[column]
	ui = auto
[branch]
	sort = -committerdate
[pull]
	ff = only
[commit]
	verbose = true
	gpgsign = true
[fetch]
	prune = true
[push]
	autoSetupRemote = true
[merge]
	conflictstyle = zdiff3
[rebase]
	autoSquash = true
[diff]
	external = difft
	tool = codediff
[difftool "codediff"]
	cmd = nvim \"$LOCAL\" \"$REMOTE\" +\"CodeDiff file $LOCAL $REMOTE\"
