[user]
	name = Halil ibrahim Onay
	email = hionay@gmail.com
[core]
	editor = nvim
[init]
	defaultBranch = main
[color]
  ui = auto
[blame]
	coloring = highlightRecent
[rerere]
	enabled = true
[column]
	ui = auto
[branch]
	sort = -committerdate
[pull]
	ff = only
[commit]
	verbose = true
